body{
	font-family: 'Nunito';
}

main{
	padding-left:200px;
}

.maintenance-mode-on{
	background: $red;
	text-align:center;
}

.card-header{
	background: $secondary;
	color: white;
	a{
		color:white;
	}
}

.entity-pages > ul {
    display: inline-flex;
}