// Colors
$blue: #4108ff;
$indigo: #6574cd;
$purple: #5a008e;
$pink: #f66D9b;
$red: #ff5959;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey:#878787;
$light-purple: #b963ff;
$dark-purple: #3a0069;

$primary: #6500e0;
$secondary: $blue;