.field-wrapper{
    @extend .form-group;
    select{
        display:none;
    }
}

.form-element{
    .helper{
        @include font-size(12px);
    }
    a{
        color: $secondary;
    } 
}

textarea{
    width:100%;
    @extend .form-control;
}

input:not(.chosen-search-input){
    &[type=password], &[type=text], &[type=email], &[type=number]{
        @extend .form-control;
    }
    &[type=submit]{
        @extend .btn;
        @extend .btn-primary;
    }
}

.checkbox-item{
    @extend .pretty;
    @extend .p-default;
    @extend .p-curve;
    @extend .p-fill;
    @extend .p-smooth;
}

.checkbox-label{
    @extend .state;
    @extend .p-primary;
}

.checkboxes-items, select{
    @extend .form-control;
    font-size: inherit;
}

.checkboxes-item{
    @extend .form-check;
    @extend .form-check-inline;
    input{
        @extend .form-check-input;
    }
    label{
        @extend .form-check-label;
    }
}

.deletePage, .editPage, .addPage{
	input[type=submit]:not(.confirm){
		float: right;
	}
}

.form-filter-entity {
    .fields{
        display:flex;
    }
    .form-element{
        @extend .mr-1;
    }
    .field-_reset{
        @extend .btn;
        @extend .btn-secondary;
    }
}

fieldset{
    @include border-radius();
    border-top: 3px solid $secondary;
    margin-bottom: 1rem;
    padding: 1rem;
    background:$light-grey;
}