.field-wrapper{
    @extend .form-group;
}

textarea{
    width:100%;
    @extend .form-control;
}

input:not(.chosen-search-input){
    &[type=password], &[type=text], &[type=email], &[type=number]{
        @extend .form-control;
    }
    &[type=submit]{
        @extend .btn;
        @extend .btn-primary;
    }
}

.checkboxes-items, select{
    @extend .form-control;
}

.checkboxes-item{
    @extend .form-check;
    @extend .form-check-inline;
    input{
        @extend .form-check-input;
    }
    label{
        @extend .form-check-label;
    }
}

.form-element .helper{
    font-size: 0.7rem;
}

.deletePage, .editPage, .addPage{
	input[type=submit]:not(.confirm){
		float: right;
	}
}

.form-filter-entity {
    .fields{
        display:flex;
    }
    .form-element{
        @extend .mr-1;
    }
    .field-_reset{
        @extend .btn;
        @extend .btn-secondary;
    }
}