body{
	font-family: 'Nunito';
}

main{
	padding-left:200px;
}

textarea{
	width:100%;
}

#block-list{
	padding:0.5rem;
	.card-body{
		padding:0;
	}
	.card-header{
		padding: 0.25rem 1.25rem;
	}
	.list-group-item{
		border-bottom:none;
		border-left:none;
		border-right:none;
		&:first-child{
			border-top:none;
		}
	}
}

.maintenance-mode-on{
	background: #f74125;
	text-align:center;
}

.card-header{
	background: $blue;
	color: white;
	a{
		color:white;
	}
}