.image-transformations{
	.addForm{
		.field-wrapper{
			width: calc(100% - 80px);
			max-width: 200px;
			float:left;
		}
		input[type=submit]{
			width:70px;
			margin-left: 10px;
			float:left;
		}
	}
}

.media-list{
    img{
        max-width: 100%;
    }
    .actions-wrapper{
        opacity:0;
        top:0;
        background: rgba(30, 30, 30, 0.5);
        transition: all 0.3s;
        &:hover{
            opacity: 1;
        }
    }
    .actions{
        a{
            color:white;
        }
    }
}

.media-folders-wrapper {
    padding:10px;
    ul{
        padding:0;
        margin:0;
        list-style-type:none;
    }
    li{
        margin:5px 0;
        a{
            padding:2px 10px;
            &.selected{
                font-weight: bold;
                border-radius: 10px;
            }
            &.disabled{
                color:grey;
            }
        }
        ul{
            @extend .pl-2;
        }
    }
}